body, html { 
  width: 100%;
  height: 100%;
}
.sections {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.header {
  width: 500px;
  padding-bottom: 5px;
  margin:auto auto;
}
span {
  margin-top: 50px;;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.ellipse-1 {
  position: relative;
}
.first-list {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
}
.first-products {
  display:flex;
}
.secont-products {
  display:flex;
}
.definition {
  display:flex;
}
.texts-of-definition {
  display: block;
}
.inputs {
  display: flex;
}
.input-disabled:disabled {
    background: #ccc;
}